<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-1 col-xs-12 content" 		th:fragment="content">
        </div>
      </div>
      <!-- /row -->
    </div>
  </div>
</div>

<style>
  .card {
    margin: 10px;
    display: inline-block;
    height: 45vh;
    width: 45%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    padding-bottom: 66px;
    overflow: hidden;
  }

  .canvasjs-chart-toolbar {
    display: none !important;
  }
  .canvasjs-chart-canvas {
    height: 250px !important;
    width: 300px !important;
    position: relative;
    left: 30%;
  }
</style>
