<div class="container">
    <div class="row">
        <div class="col">
            <form th:action="@{/AddPaymentType}" method="post">
                <div class="mb-3">
                    <label for="paymentTypeName" class="form-label">Payment Type Name</label>
                    <input type="text" class="form-control" id="paymentTypeName" name="paymentTypeName" required>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>