<div class="container">
    <div class="row">
        <div class="col">
            <form th:action="@{/UpdateLabel}" method="post">
                <div class="mb-3">
                    <label for="labelSelect" class="form-label">Select Label</label>
                    <select class="form-select" id="labelId" name="labelId" required>
                        <option value="0">--Select a Label--</option>
                        <option th:each="label : ${LABELLIST}" th:value="${label.labelId}" th:text="${label.labelName}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="labelName" class="form-label">Edit Label Name</label>
                    <input type="text" class="form-control" id="labelName" name="labelName" required>
                </div>
               <div class="mb-3">
                    <label for="category" class="form-label">Category Name</label>
                    <select class="form-select" id="category" name="category" required>
                        <option value="0">Select Category</option>
                        <option th:each="category : ${CATEGORYLIST}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
                        <!-- You can add more options if needed -->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>