<!DOCTYPE html>
<html   xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 " th:fragment="recordsTableFragment">


				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th scope="col">Edit Record</th>
							<th scope="col">Date</th>
							<th scope="col">Category</th>
							<th scope="col">Type</th>
							<th scope="col">Amount</th>
						</tr>
					</thead>
					<tbody>



 
						<tr  th:each="record : ${recordListByUserId}">

							<td>
								<form action="/records/editRecord" method="get" >
									
									<input type="hidden" name="recordId" th:value ="${record.id}" />
									<button type="submit" style="border: none;"><img src="https://cdn.pixabay.com/photo/2017/06/06/00/33/edit-icon-2375785_1280.png" height='20'>
									</button> 

								</form>
							</td>
							<td  th:text="${record.date}" ></td>
							<td  th:text="${record.category.categoryName}"  ></td>
							<td  th:text="${record.recordType.recordTypeName}" ></td>
							<td  th:text="${record.amount}" ></td>

						</tr>









					</tbody>
				</table>
		
		
		
<script>
function handleEditRequest(recordId)
{
		alert(recordId);
		
		
		$.ajax({
			url : '/records/editRecord', // URL of your server-side script
			type : 'GET',
			 data : {
				 recordId : recordId
				 },

			success : function(data) {
				// Update content of element with id 'content'

			//	$('#currency_expense').html(data); //#stateList -> id and .html means evey thing inside #stateList will be updated
			//	$('#currency_income').html(data);
			//	$('#currency_from_account_transfer').html(data);
			//	$('#currency_to_account_transfer').html(data);

				alert('success on click event of handleEditRequest()');		
				// Redirect to records.html page
                window.location.href = '/records/editRecord';
			},
			error : function(xhr, status, error) {
				// Log errors to console
				console.error(status, error);
			}
		});
}










</script>	


			
</main>




</body>
</html>